
/* .project-cards {
    padding: 2%;
    display: inline-block;
} */

.project-card {
    height: 200px;
    width: 230px;
    margin: 10px;
    border-radius: 10px;
}

.project-image-container {
    height: 100px;
    width: 100%;
}

#project-display-image {
    width: 230px;
    height: 150px;
    object-fit: cover;
    border-radius: 0px;
}

.project-text {
    padding: 3%;

}






