
/* .project-cards {
    padding: 2%;
    display: inline-block;
} */

.project-card {
    height: 350px;
    width: 230px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #efefef;
    
}


.project-image-container {
    height: 150px;
    width: 100%;
}

#project-display-image {
    width: 230px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
}

.project-text {
    margin-left: 10px;
    margin-right: 10px;
}

.project-text h6 {
    color: #1C585C;
    margin: 0px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.project-text h3 {
    margin-top: 0px;
    margin-bottom: 0.5rem;
    margin-left: 0px;
    margin-right: 0px;
}

.project-text p {
    color: #1C585C;
    margin: 0px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.project-text-goal h3 {
    margin: 0px;
    margin-top: 2rem;
}



