.causes-project-card {
    height: 180px;
    width: 140px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: #EFEFEF;
}

.causes-project-card-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.cause-image {
    height: 92px;
}