
.project-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.project-inner {
    display: flex;
    justify-content: center;
}

.project-container {
    width: 750px;
    height: auto;
    display: flex;
    flex-direction: column;

}

.project-carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagline {
    display: flex;
    justify-content: center;
}