
h1 {
    font-family: 'Reenie Beanie';
    font-size: 50px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #1C585C;
   
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: grey;
    font-weight: bold;
  
}

h5 {
  font-family: 'Raleway', sans-serif;
    color: #1C585C;
    font-size: 12px;
    font-weight: bold;
  

}

h6 {
  font-family: 'Raleway', sans-serif;
    color: grey;
    font-size: 10px;
    font-weight: lighter;
    
}

p {
    font-family: 'Raleway', sans-serif;
    color: #696969;
    font-size: 10px;
    line-height: 1.4;
  
}

.space-medium {
  width: auto;
  height: 40px;
}

.space-small {
  width: auto;
  height: 20px;
}

.divider {
  border-bottom: 1px solid #1C585C;
  width: 750px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
}
  
  .primary-button {
    border-radius: 30px;
    background-color: #ECEDE7;
    padding: 10px 32px;
    border: 2px solid #422800;
    box-shadow: #422800 4px 4px 0 0;
    margin: 20px 0px;
    width: 150px;
  }

  .primary-button:hover {
    background-color: #fff;
  }

  .primary-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  .secondary-button {
    border-radius: 50px;
    background-color: #ECEDE7;
    padding: 5px 10px;
    border: 2px solid #422800;
    box-shadow: #422800 4px 4px 0 0;
    height: 50px;
  }

  .all-projects {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .primary-btn {

    border: 2px solid #1C585C;
    background-color: #fff;
    border-radius: 1.5rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    padding: 6px;
    font-family: 'Raleway', sans-serif;
    color: #1C585C;
    font-weight: bold;
  }
  
  .primary-btn:hover
   {
      color: white;
      background-color: #1C585C;
    }
  
  